<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="DERFF">
    <meta name="author" content="DERFF">
    <meta name="keywords" content="DERFF">

    <title th:utext="#{page.title.regions.list}"></title>
    <link href="../static/vendor/mdi-font/css/material-design-iconic-font.min.css"
          th:href="@{/vendor/mdi-font/css/material-design-iconic-font.min.css}" rel="stylesheet" media="all"/>
    <link href="../static/vendor/font-awesome-4.7/css/font-awesome.min.css"
          th:href="@{/vendor/font-awesome-4.7/css/font-awesome.min.css}" rel="stylesheet" media="all"/>
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link href="../static/vendor/select2/select2.min.css" th:href="@{/vendor/select2/select2.min.css}" rel="stylesheet"
          media="all"/>
    <link href="../static/vendor/datepicker/daterangepicker.css" th:href="@{/vendor/datepicker/daterangepicker.css}"
          rel="stylesheet" media="all"/>
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" media="all"/>
</head>
<body>

<div id="msg_pop" onclick="document.getElementById('msg_pop').style.display='none'; return false;">
    <h4>Внимание!</h4><br/>
    <div id="errorMessage">
        Текст ошибки
    </div>
</div>

<div class="page-wrapper bg-gra-01 p-t-180 p-b-100 font-poppins">
    <div class="wrapper wrapper--w780">
        <div class="card card-3">
            <div class="card-heading"></div>
            <div class="card-body">
                <h2 class="title" th:utext="#{page.title.regions.list.select}">Районы</h2>
                <p class="input-group" th:each="region : ${regions}">
                    <label class="input--style-4" th:text="${region.name}" th:value="${region.name}" th:id="${region.id}" th:onclick="|selectRegion('${region.id}',this.getAttribute('data'));|"/>

                </p>
                <p class="input--style-3">
                    <label style="cursor: pointer;" th:text="#{label.createNewRegion}" onclick="return location.href = '/newRegion'">buttonForNewRegion</label></p>
                    <!--     <i class="zmdi zmdi-delete input-icon" th:data="${competition.name}" th:onclick="|deleteCompetition('${competition.id}',this.getAttribute('data'));|"></i>

                        ${@environment.getProperty('name.of.the.property')}
                        -->
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../static/vendor/jquery/jquery.min.js" th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script src="../static/vendor/select2/select2.min.js" th:src="@{/vendor/select2/select2.min.js}"></script>
<script src="../static/vendor/datepicker/moment.min.js" th:src="@{/vendor/datepicker/moment.min.js}"></script>
<script src="../static/vendor/datepicker/daterangepicker.js" th:src="@{/vendor/datepicker/daterangepicker.js}"></script>
<script src="../static/js/global.js" th:src="@{/js/global.js}"></script>
<script th:inline="javascript">


     /*<![CDATA[*/
    $(document).ready(function () {
    var errorMessage = /*[[${errorMessage}]]*/;
    console.log(errorMessage);
    if(errorMessage!=null){
     var delay_popup = 500;
    var msg_pop = document.getElementById('msg_pop');
    var msg_pop_text = document.getElementById('errorMessage');
    msg_pop_text.innerHTML=errorMessage;
    setTimeout("document.getElementById('msg_pop').style.display='block';document.getElementById('msg_pop').className += 'fadeIn';", delay_popup);
    }

    });
    /*]]>*/


    function selectRegion(regionId, regionName){
    $.ajax({
        type: 'POST',
        url:'/selectRegion',
        data:({regionId:regionId}),
         success: function(data){
         var obj = jQuery.parseJSON(data);

        if(obj.msg==null && obj.url!=null){
        location.href = obj.url;
        }

        }
    });

    }

function deleteCompetition(competitionId, competitionName){
if(confirm("Вы уверены, что хотите удалить сезон "+competitionName+" и всю информацию связанную с ним?")){
    $.ajax({
        type: 'POST',
        url:'/competitions',
        data:({competitionId:competitionId, command:'delete'}),
         success: function(msg){
        location.href = "/competitions"
        }
    });
}
}
</script>
</body>
</html>
