<html xmlns:th="http://www.thymeleaf.org">
<div id="skipGames">
<table>
    <tr th:each="instance : ${skipGames}">
        <td style="padding: 2px;">
            <div>
                <label class="input--style-3" th:text="${instance.player.lastName+' '+instance.player.firstName}"/>
            </div>
        </td>
        <td style="padding: 2px;">
            <div>
                <label class="input--style-3" th:text="${instance.player.team.teamName}"/>
            </div>
        </td>
        <td style="padding: 2px;">
            <div>
                <label class="input--style-3" th:text="${instance.details}"/>
            </div>
        </td>
    </tr>
</table>
<a th:if="${needShowAllSkipGames}" style="width:100%" onclick="getAllSkipGames()" class="btn btn-white btn-lg" th:text="#{label.showAll}"/>
<a th:if="${!needShowAllSkipGames}" style="width:100%" onclick="getLastTourSkipGames()" class="btn btn-white btn-lg" th:text="#{label.showFirst}"/>
</div>
<script th:inline="javascript">
function getLastTourSkipGames() {
    $.ajax({
    type: 'GET',
    data: ({
        show: 'lastTour'
        }),
    url: "/skipGames",
    success: function(html) {
    $("#skipGames").html(html);
    }
    });
}
function getAllSkipGames() {
    $.ajax({
        type: 'GET',
        data: ({
         show: 'all'
        }),
        url: "/skipGames",
        success: function(html) {
    $("#skipGames").html(html);
    }
    });
}
</script>
</html>