<html xmlns:th="http://www.thymeleaf.org">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="/tdk/scripts/jquery.min.js"              type="text/javascript"></script>
<!-- Jquery - ui right after-->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<link href="../static/css/widget.css" th:href="@{/css/widget.css}" rel="stylesheet" media="all"/>
<div class="container">
    <div class="space">
        <div class="row">
            <div class="col-md-4">
                <div class="widget widget-call-to-action well-default">
                    <h3 class="widget-title" th:text="#{label.bombardiers}"/>
                    <th:block th:include="common/statistic/bombardiers"></th:block>
                </div>
            </div>
            <div class="col-md-4">
                <div class="widget widget-call-to-action well-secondary">
                    <h3 class="widget-title" th:text="#{label.yellowCards}"/>
                    <th:block th:include="common/statistic/yellowCards"></th:block>
                </div>
            </div>
            <div class="col-md-4">
                <div class="widget widget-call-to-action well-primary">
                    <h3 class="widget-title" th:text="#{label.skipGame}"/>
                    <th:block th:include="common/statistic/skipGames"></th:block>
                </div>
            </div>

        </div></div>
</div>
<script th:inline="javascript">
$(document).ready(function(){
     $(window).scroll(function () {
            if ($(this).scrollTop() > 50) {
                $('#back-to-top').fadeIn();
            } else {
                $('#back-to-top').fadeOut();
            }
        });
        // scroll body to 0px on click
        $('#back-to-top').click(function () {
            $('#back-to-top').tooltip('hide');
            $('body,html').animate({
                scrollTop: 0
            }, 800);
            return false;
        });

        $('#back-to-top').tooltip('show');

});
</script>
</html>