<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

    <link href="../static/css/admin.css" th:href="@{/css/admin.css}" rel="stylesheet" media="all"/>
    <link href="../static/css/message.css" th:href="@{/css/message.css}" rel="stylesheet" media="all"/>
    <link href="../static/css/menu.css" th:href="@{/css/menu.css}" rel="stylesheet" media="all"/>
</head>
<body>
<th:block th:include="common/_menu"></th:block>
<div th:insert="common/message :: message"></div>


<div>
    <table class="table_dark">
        <tr>
            <td>
                <div style="text-align:center;">
                    <a class="btn btn-lg btn-success active" href="/administration/newGame">Добавить новую игру</a>
                </div>
            </td>
        </tr>
      <!--  <tr>
            <td>
                <select id="team" name="teamName" th:onchange="show()" style="width:100%">
                    <option th:value="${team.teamName}" th:each="team : ${teams}"
                            th:utext="${team.teamName}">Team
                    </option>
                </select></td>
        </tr>  -->
    </table>
    <div id="block"/>

</div>





<!--

<div class="page-wrapper bg-gra-01 p-t-180 p-b-100 font-poppins">
    <div class="wrapper wrapper--w780">
        <div class="card card-3">
            <div class="card-heading"></div>
            <div class="card-body">
                <h3 class="title" th:utext="#{label.calendar}" style="text-align: center">Календарь игр</h3>
                <form method="POST" enctype="multipart/form-data">
                    <table cols="5">
                        <tr>
                            <td colspan="5">
                                <div class="input-group">
                                    <input class="input--style-3 js-datepicker" type="text" placeholder="Дата создания"
                                           th:value="${preDate}" th:placeholder="#{placeholder.shortDate}" name="preDate"
                                           required>
                                    <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="color: #555555;">
                                <div>Хозяева</div>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td style="color: #555555;">
                                <div>Гости</div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="input-group">
                                    <select id="masterTeam" name="masterTeamName">
                                        <option th:value="${team.teamName}" th:each="team : ${teams}"
                                                th:utext="${team.teamName}">Team
                                        </option>
                                    </select>
                                </div>
                            </td>
                            <td>
                                <div> &nbsp; &nbsp; &nbsp;</div>
                            </td>
                            <td>
                                <div class="input-group">

                                    <select id="slaveTeam" name="slaveTeamName">
                                        <option th:value="${team.teamName}" th:each="team : ${teams}"
                                                th:utext="${team.teamName}">Team
                                        </option>
                                    </select>

                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="p-t-10" style="text-align: center">
                                    <button style="visibility: hidden;" class="btn btn--pill btn--green" type="submit" th:text="#{button.submit}">
                                        Submit
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <div style="text-align: center">
                        <button class="btn btn--pill btn--green" type="submit" th:text="#{button.submit}">
                            Submit
                        </button>
                    </div>

                </form>

            </br>
                <table id="calendar" cols="5" style="color: #555555; border:1px">
                    <tr>
                        <td th:class="td1" colspan="5">
                            <div>Игры</div>
                        </td>
                    </tr>
                    <tr>
                        <td th:class="td1">
                            <div>Дата</div>
                        </td>
                        <td th:class="td1">
                            <div>Хозяева</div>
                        </td>
                        <td th:class="td1">
                            <div>Гости</div>
                        </td>
                        <td th:class="td1"></td>
                        <td th:class="td1"></td>

                    </tr>

                    <tr th:each="game : ${games}" th:id="${game.id}" style="cursor:pointer" th:onclick="|selectGame('${game.id}');|">
                        <td th:class="td1" th:text="${game.stringDate}"></td>
                        <td th:class="td1" th:text="${game.masterTeam.teamName}"></td>
                        <td th:class="td1" th:text="${game.slaveTeam.teamName}"></td>
                        <td th:class="td1">Результаты</td>
                        <td th:class="td1" th:onclick="|deleteGame('${game.id}',this.getAttribute('data'));|">Удалить</td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
</div>
-->

<script th:inline="javascript">
      function selectGame(gameId){
    $.ajax({
        type: 'POST',
        url:'/selectTeamForCompetition',
        data:({teamId:teamId}),
         success: function(msg,url){
        if(msg==null && url!=null){
        location.href = url;
        }else{
        location.href = "/selectTeamForCompetition";
        }

        }
    });

    }

    function deleteGame(gameId){
        if(confirm("Вы уверены, что хотите удалить игру?")){
             $.ajax({
                    type: 'DELETE',
                    url:'/administration/calendar',
                    data:({gameId:gameId}),
                     success: function(msg){
                     location.href = "/administration/calendar"
                        }
                });
        }
    }


$(document).ready(function() {

    var now = new Date();
    var curr_date = now.getDate();
    var curr_month = now.getMonth() + 1;
    var curr_year = now.getFullYear();

var d= (curr_year + "-" + curr_month + "-" + curr_date);
    $.ajax({
        type: 'POST',
        url: "/administration/gameListByDate", // загружает вот это страницу каждую минуту
        data: ({
            date: d
        }),
        cache: false,
        success: function(html) {
            $("#block").html(html);
        }
    });
})

</script>


<script src="../static/vendor/select2/select2.min.js" th:src="@{/vendor/select2/select2.min.js}"></script>
<script src="../static/vendor/datepicker/moment.min.js" th:src="@{/vendor/datepicker/moment.min.js}"></script>
<script src="../static/vendor/datepicker/daterangepicker.js"
        th:src="@{/vendor/datepicker/daterangepicker.js}"></script>
<script src="../static/js/global.js" th:src="@{/js/global.js}"></script>

</body>
</html>
