<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<table class="table_dark">
    <tr th:each="game : ${games}">
        <td>
            <div>
                <label class="input--style-3" th:text="${game.stringDate}"
                       th:id="${game.id}"/>

            </div>
        </td>
        <td>
            <div>
                <label class="input--style-3" th:text="${game.masterTeam.teamName}"/>

            </div>
        </td>
        <td>
            <div>
                <label class="input--style-3" th:text="${game.slaveTeam.teamName}"/>
            </div>
        </td>
        <td>
            <label th:onclick="|window.location='/administration/resultGameGoals/${game.id}'|" style="cursor:pointer;">Результаты</label>
        </td>
        <td>
            <label th:onclick="|window.location='/administration/editGame/${game.id}'|" style="cursor:pointer;">Редактировать</label>
        </td>
        <td>
            <a th:href="|/administration/deleteGame/${game.id}|"
               onclick="return confirm('Вы уверены, что хотите удалить игру?')"
               th:onclick="return confirm('Вы уверены, что хотите удалить игру?')" style="cursor:pointer;">Удалить</a>
        </td>
    </tr>
</table>
</html>
