<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

    <title th:utext="${titlePage}"></title>
    <!------ Include the above in your HEAD tag ---------->
    <!--https://bootsnipp.com/snippets/BxA1B
    Игроки в команде https://bootsnipp.com/snippets/nNoMz
    Профиль каждого игрока https://bootsnipp.com/snippets/KGlz3
    Таблица с фильтрами https://bootsnipp.com/snippets/KB2bD

    -->
    <link href="../static/css/admin.css" th:href="@{/css/admin.css}" rel="stylesheet" media="all"/>
    <link href="../static/css/message.css" th:href="@{/css/message.css}" rel="stylesheet" media="all"/>
    <link href="../static/css/menu.css" th:href="@{/css/menu.css}" rel="stylesheet" media="all"/>
</head>
<body>
<th:block th:include="common/_menu"></th:block>
<div th:insert="common/message :: message"></div>

<div>
    <table class="table_dark">
        <tr>
            <td>
                <div style="text-align:center;">
                    <a class="btn btn-lg btn-success active" th:onclick="gotoCreatingPlayer()">Добавить нового игрока</a>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <select id="team" name="teamName" th:onchange="show()" style="width:100%">
                    <option th:value="${team.teamName}" th:each="team : ${teams}"
                            th:utext="${team.teamName}" th:id="${team.id}">Team
                    </option>
                </select></td>
        </tr>
    </table>
    <div id="block"/>

</div>

<script th:inline="javascript">
function gotoCreatingPlayer(){
//document.getElementById("
//var t = $("#team");
var s = document.querySelector('select');
var indexSelected = s.selectedIndex;
option = s.querySelectorAll('option')[indexSelected];
var selectedId = option.getAttribute('id');
window.location='/administration/newPlayer/'+selectedId;
}

function show(teamName) {
    var t = $("#team").val();
    $.ajax({
        type: 'POST',
        url: "/administration/playerListByTeam",
        data: ({
            teamName: t
        }),
        cache: false,
        success: function(html) {
            $("#block").html(html);
        }
    });
}


  /*<![CDATA[*/
    $(document).ready(function () {
    var errorMessage = /*[[${errorMessage}]]*/;
    console.log(errorMessage);
    if(errorMessage!=null){
     var delay_popup = 500;
    var msg_pop = document.getElementById('msg_pop');
    var msg_pop_text = document.getElementById('errorMessage');
    msg_pop_text.innerHTML=errorMessage;
    setTimeout("document.getElementById('msg_pop').style.display='block';document.getElementById('msg_pop').className += 'fadeIn';", delay_popup);
    }

    var t = $("#team").val();
    $.ajax({
        type: 'POST',
        url: "/administration/playerListByTeam", // загружает вот это страницу каждую минуту
        data: ({
            teamName: t
        }),
        cache: false,
        success: function(html) {
            $("#block").html(html);
        }
    });


    });
</script>
</body>
</html>
