<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="DERFF">
    <meta name="author" content="DERFF">
    <meta name="keywords" content="DERFF">

    <title th:utext="#{page.title.players.list}"></title>
    <link href="../static/vendor/mdi-font/css/material-design-iconic-font.min.css"
          th:href="@{/vendor/mdi-font/css/material-design-iconic-font.min.css}" rel="stylesheet" media="all"/>
    <link href="../static/vendor/font-awesome-4.7/css/font-awesome.min.css"
          th:href="@{/vendor/font-awesome-4.7/css/font-awesome.min.css}" rel="stylesheet" media="all"/>
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link href="../static/vendor/select2/select2.min.css" th:href="@{/vendor/select2/select2.min.css}" rel="stylesheet"
          media="all"/>
    <link href="../static/vendor/datepicker/daterangepicker.css" th:href="@{/vendor/datepicker/daterangepicker.css}"
          rel="stylesheet" media="all"/>
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" media="all"/>
</head>
<body>

<div id="msg_pop" onclick="document.getElementById('msg_pop').style.display='none'; return false;">
    <h4>Внимание!</h4><br/>
    <div id="errorMessage">
        Текст ошибки
    </div>
</div>
<div>
    <a href="/administration/newPlayer">Добавить нового игрока</a>
</div>
<div>
    <table>
        <tr>
            <td>
                <select id="team" name="teamName">
                    <option th:value="${team.teamName}" th:each="team : ${teams}"
                            th:utext="${team.teamName}">Team
                    </option>
                </select></td>
        </tr>
    </table>
<table>
    <tr th:each="player : ${players}">
        <td>
            <div>
                <label class="input--style-3" th:text="${player.lastName}" th:value="${player.lastName}" th:id="${player.id}" th:onclick="|selectPlayer('${player.id}',this.getAttribute('data'));|"/>
            </div>
        </td>
        <td>
            <a th:href="|/administration/editPlayer/${player.id}|">Редактировать</a>

        </td>
        <td> </td>
        <td>
            <a th:href="|/administration/deletePlayer/${player.id}|" onclick="return confirm('Вы уверены, что хотите удалить игрока?')" th:onclick="return confirm('Вы уверены, что хотите удалить игрока?')">Удалить</a>
        </td>
    </tr>
</table>

</div>

<!--
<div class="page-wrapper bg-gra-01 p-t-180 p-b-100 font-poppins">
    <div class="wrapper wrapper--w780">
        <div class="card card-3">
            <div class="card-heading"></div>
            <div class="card-body">
                <h2 class="title" th:utext="#{page.title.competitions.list}">Сезоны</h2>
                <p class="input-group" th:each="competition : ${competitions}">
                    <label class="input--style-4" th:text="${competition.name}" th:value="${competition.name}" th:id="${competition.id}" th:onclick="|selectCompetition('${competition.id}',this.getAttribute('data'));|"/>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="../static/vendor/jquery/jquery.min.js" th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script src="../static/vendor/select2/select2.min.js" th:src="@{/vendor/select2/select2.min.js}"></script>
<script src="../static/vendor/datepicker/moment.min.js" th:src="@{/vendor/datepicker/moment.min.js}"></script>
<script src="../static/vendor/datepicker/daterangepicker.js" th:src="@{/vendor/datepicker/daterangepicker.js}"></script>
<script src="../static/js/global.js" th:src="@{/js/global.js}"></script>
<script th:inline="javascript">


     /*<![CDATA[*/
    $(document).ready(function () {
    var errorMessage = /*[[${errorMessage}]]*/;
    console.log(errorMessage);
    if(errorMessage!=null){
     var delay_popup = 500;
    var msg_pop = document.getElementById('msg_pop');
    var msg_pop_text = document.getElementById('errorMessage');
    msg_pop_text.innerHTML=errorMessage;
    setTimeout("document.getElementById('msg_pop').style.display='block';document.getElementById('msg_pop').className += 'fadeIn';", delay_popup);
    }

    });
    /*]]>*/


    function selectCompetition(competitionId){
    $.ajax({
        type: 'POST',
        url:'/selectCompetition',
        data:({competitionId:competitionId}),
         success: function(data){
         var obj = jQuery.parseJSON(data);

        if(obj.msg==null && obj.url!=null){
        location.href = obj.url;
        }

        }
    });

    }

function deleteCompetition(competitionId, competitionName){
if(confirm("Вы уверены, что хотите удалить сезон "+competitionName+" и всю информацию связанную с ним?")){
    $.ajax({
        type: 'POST',
        url:'/competitions',
        data:({competitionId:competitionId, command:'delete'}),
         success: function(msg){
        location.href = "/competitions"
        }
    });
}
}
</script> -->
</body>
</html>
