<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

    <link href="../static/css/admin.css" th:href="@{/css/admin.css}" rel="stylesheet" media="all"/>
    <link href="../static/css/message.css" th:href="@{/css/message.css}" rel="stylesheet" media="all"/>
    <link href="../static/css/menu.css" th:href="@{/css/menu.css}" rel="stylesheet" media="all"/>
</head>
<body>
<th:block th:include="common/_menu"></th:block>
<div th:insert="common/message :: message"></div>

<div style="text-align:center;">
    <a class="btn btn-lg btn-success active">Результаты игры</a>
</div>

<div id="secondStep">
    <table class="table_dark">

        <tr>
            <td>
                <div class="input-group" style="display: inline-block; vertical-align:  middle; ">
                    <p style="display: inline-block; color:#ffff00; vertical-align:  middle; "
                       th:utext="${masterTeamName}">Команды</p>
                </div>
            </td>
            <td>
                <div class="input-group" style="display: inline-block; vertical-align:  middle; ">
                    <p style="display: inline-block; color:#ffff00; vertical-align:  middle; "
                       th:utext="${slaveTeamName}">Команды</p>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <input class="input--style-3" type="number" min="0" max="20" step="1"
                       placeholder="defaultGoalsCount"
                       th:placeholder="#{placeholder.defaultGoalsCount}" name="countGoalsMasterTeam"
                       id="countGoalsMasterTeam">
            </td>
            <td>
                <input class="input--style-3" type="number" min="0" max="20" step="1"
                       placeholder="defaultGoalsCount"
                       th:placeholder="#{placeholder.defaultGoalsCount}" name="countGoalsSlaveTeam"
                       id="countGoalsSlaveTeam">
            </td>

        </tr>
        <tr>
            <td colspan="2">
                <div class="p-t-10" style="text-align:center;">
                    <a class="btn btn-lg btn-success active" th:text="#{button.continue}" th:onClick="getSecondStep()">Продолжить</a>
                    </button>
                </div>
            </td>
        </tr>

    </table>
    <!-- <div id="secondStep"/>  -->

</div>


<script th:inline="javascript">
function getSecondStep() {

var countGoalsMasterTeam= document.getElementById("countGoalsMasterTeam").value;
var countGoalsSlaveTeam= document.getElementById("countGoalsSlaveTeam").value;
    $.ajax({
        type: 'POST',
        url: "/administration/resultGame",
        data: ({
            step: 'goalsCount',
            countGoalsMasterTeam:countGoalsMasterTeam,
            countGoalsSlaveTeam:countGoalsSlaveTeam
        }),
        cache: false,
        success: function(html) {
            $("#secondStep").html(html);
        }
    });
}



</script>

</body>
</html>
