<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

    <link href="../static/css/admin.css" th:href="@{/css/admin.css}" rel="stylesheet" media="all"/>
    <link href="../static/css/message.css" th:href="@{/css/message.css}" rel="stylesheet" media="all"/>
    <link href="../static/css/menu.css" th:href="@{/css/menu.css}" rel="stylesheet" media="all"/>
</head>
<body>
<div th:insert="common/message :: message"></div>


<div>
    <table class="table_dark">
        <tr>
            <td colspan="2">
                <div style="text-align:center; color:#ffff00;" class="input-group">
                    Количество желтых карточек
                </div>
            </td>
        </tr>


        <tr>
            <td>
                <input class="input--style-3" type="number" min="0" max="20" step="1"
                       placeholder="defaultYellowCardCount"
                       th:placeholder="#{placeholder.defaultYellowCardCount}" name="countYellowCardsMasterTeam"
                       id="countYellowCardsMasterTeam">
            </td>
            <td>
                <input class="input--style-3" type="number" min="0" max="20" step="1"
                       placeholder="defaultYellowCardCount"
                       th:placeholder="#{placeholder.defaultYellowCardCount}" name="countYellowCardsSlaveTeam"
                       id="countYellowCardsSlaveTeam">
            </td>

        </tr>
        <tr>
            <td colspan="2">
                <div class="p-t-10" style="text-align:center;" id="fourthStep">
                    <a class="btn btn-lg btn-success active" th:text="#{button.continue}" th:onClick="getFourthStep()">Продолжить</a>
                    </button>
                </div>
            </td>
        </tr>


    </table>
   <!-- <div id="fourthStep"/> -->

</div>


<script th:inline="javascript">
function getFourthStep() {

var countYellowCardsMasterTeam= document.getElementById("countYellowCardsMasterTeam").value;
var countYellowCardsSlaveTeam= document.getElementById("countYellowCardsSlaveTeam").value;
    $.ajax({
        type: 'POST',
        url: "/administration/resultGame",
        data: ({
            step: 'yellowCardsCount',
            countYellowCardsMasterTeam:countYellowCardsMasterTeam,
            countYellowCardsSlaveTeam:countYellowCardsSlaveTeam
        }),
        cache: false,
        success: function(html) {
            $("#fourthStep").html(html);
        }
    });
}



</script>

</body>
</html>
