<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

    <link href="../static/css/admin.css" th:href="@{/css/admin.css}" rel="stylesheet" media="all"/>
    <link href="../static/css/message.css" th:href="@{/css/message.css}" rel="stylesheet" media="all"/>
    <link href="../static/css/menu.css" th:href="@{/css/menu.css}" rel="stylesheet" media="all"/>
</head>
<body>
<div th:insert="common/message :: message"></div>


<div  id="sixthStep">
    <table class="table_dark">
        <tr>
            <td colspan="2">
                <div style="display: inline-block; text-align:center; color:#ffff00;" class="input-group">
                   Количество красных карточек
                </div>
            </td>
        </tr>


        <tr>
            <td width="50%">
                <input class="input--style-3" type="number" min="0" max="20" step="1"
                       placeholder="defaultRedCardCount"
                       th:placeholder="#{placeholder.defaultRedCardCount}" name="countRedCardsMasterTeam"
                       id="countRedCardsMasterTeam" oninput="changeButtonTitle()">
            </td>
            <td>
                <input class="input--style-3" type="number" min="0" max="20" step="1"
                       placeholder="defaultRedCardCount"
                       th:placeholder="#{placeholder.defaultRedCardCount}" name="countRedCardsSlaveTeam"
                       id="countRedCardsSlaveTeam" oninput="changeButtonTitle()">
            </td>

        </tr>
        <tr>
            <td colspan="2">
                <div class="p-t-10" style="text-align:center;">
                    <a class="btn btn-lg btn-success active" th:text="#{button.submit}" th:onClick="getSixthStep()" id="button">Продолжить</a>
                    </button>
                </div>
            </td>
        </tr>


    </table>
   <!-- <div id="sixthStep"/> -->

</div>


<script th:inline="javascript">

function changeButtonTitle(){
var countRedCardsMasterTeam= document.getElementById("countRedCardsMasterTeam").value;
var countRedCardsSlaveTeam= document.getElementById("countRedCardsSlaveTeam").value;
    if((countRedCardsMasterTeam==0 || countRedCardsMasterTeam=='') && (countRedCardsSlaveTeam==0 || countRedCardsSlaveTeam=='')){
        document.getElementById("button").text="Сохранить";
    }else{
    document.getElementById("button").text="Продолжить";
}


function getSixthStep() {

var countRedCardsMasterTeam= document.getElementById("countRedCardsMasterTeam").value;
var countRedCardsSlaveTeam= document.getElementById("countRedCardsSlaveTeam").value;
   alert(countRedCardsMasterTeam);
   if((countRedCardsMasterTeam==0 || countRedCardsMasterTeam=='') && (countRedCardsSlaveTeam==0 || countRedCardsSlaveTeam=='')){
       alert( "ewfewfewfewf");
    $.ajax({
        type: 'POST',
        url: "/administration/resultGame",
        data: ({
            step: 'saveResult',
            masterPlayerIdListRedCards:masterPlayerIdListRedCards,
            slavePlayerIdListRedCards:slavePlayerIdListRedCards
        }),
        cache: false,
        success: function(msg){
                     location.href = "/administration/calendar"
                        }
    });
   }else{
    $.ajax({
        type: 'POST',
        url: "/administration/resultGame",
        data: ({
            step: 'redCardsCount',
            countRedCardsMasterTeam:countRedCardsMasterTeam,
            countRedCardsSlaveTeam:countRedCardsSlaveTeam
        }),
        cache: false,
        success: function(html) {
            $("#sixthStep").html(html);
        }
    });
}
   }




}



</script>

</body>
</html>
