<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!------ Include the above in your HEAD tag ---------->
    <!--https://bootsnipp.com/snippets/BxA1B
    Игроки в команде https://bootsnipp.com/snippets/nNoMz
    Профиль каждого игрока https://bootsnipp.com/snippets/KGlz3
    Таблица с фильтрами https://bootsnipp.com/snippets/KB2bD

    -->
    <link href="../static/css/admin.css" th:href="@{/css/admin.css}" rel="stylesheet" media="all"/>
    <link href="../static/css/message.css" th:href="@{/css/message.css}" rel="stylesheet" media="all"/>
</head>

<body>



</body>
</html>

